{% extends 'registration/base.html' %}
{% block content %}

    <div class="container" style="height: 50px;"></div>
    <div class="container">

        {% if validlink %}
            <p>Пожалуйста введите и подтвердите новый пароль.</p>
            <form action="" method="post">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>{{ form.new_password1.errors }}
                            <label for="id_new_password1">Новый пароль:</label></td>
                        <td>{{ form.new_password1 }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.new_password2.errors }}
                            <label for="id_new_password2">Подтвердите пароль:</label></td>
                        <td>{{ form.new_password2 }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Change my password"/></td>
                    </tr>
                </table>
            </form>
        {% else %}
            <h1>Попытка изменить пароль не удалась</h1>
            <p>Ссылка для изменения пароля не верна, запросите изменение еще раз.</p>
        {% endif %}
    </div>


    <div class="container" style="height: 60px;"></div>

{% endblock content %}