{% extends 'HelpSystem/base.html' %}

{% block content %}

<div class="row">
    <div class="col-sm-3" style="margin-top:4%; margin-left:18%;">
        <div class="card" style="width: 475px; height: auto;">
            <div class="TripBg" style="z-index: 1;">
                <div class="container">
                    <h4 class="display-4" style="color: #ad7835; padding-left: 20px;
                         padding-top: 20px; padding-bottom:30px;"><b> Кто мы? </b></h4>
                    <div class="container" style="padding-left: 20px; padding-right: 20px;
                         padding-bottom: 30px;">
                        <p>Агентство «IRSIB» — это одни из лучших
                            страховых специалистов на рынке, которые защищают интересы клиентов с 2000 года.
                            Со дня основания компании мы упорно трудились, чтобы иметь возможность предоставлять
                            вам самые качественные услуги в сфере страхования, среди которых страхование частных
                            лиц, страхование организациям и
                            страхование в РБ.
                        </p>
                        <h6>В настоящее время при обращении в компанию «IRSIB» клиент может рассчитывать на:</h6>
                        <ul>
                            <li>
                                индивидуальный подход;
                            </li>
                            <li>
                                выбор наиболее выгодных условий страхования.
                            </li>
                            <li>
                                консультации при заключении договора.
                            </li>
                            <li>
                                консультации на время действия договора.
                            </li>
                            <li>
                                бесплатную доставку страховых полисов;
                            </li>
                            <li>
                                уведомление о сроке выплат страховых взносов.
                            </li>
                        </ul>
                        <p style="padding-bottom: 10px;"> Вы можете быть уверены: с нами ваши близкие и имущество
                            будут под надежной защитой.
                            Мы предлагаем широкий спектр страховых продуктов и поддержку именно тогда, когда они
                            необходимы.
                            Получите дополнительный уровень защиты, который вы так долго искали. Свяжитесь с нами.
                        </p>
                        <a class="btn btn-dark" href="#yak1" style="text-transform: none; margin-top: 10px; margin-left: 10px;
                             padding: 10px 10px;">
                            Свяжитесь с нами
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="side">
            <img src="../../static/images/about_3.jpg"
                 style="width: 560px; height: 920px; object-fit: cover; object-position: 50% 50%;">
        </div>
    </div>
</div>

<div class="container" style="height: 120px;"></div>

<div class="container">
    <form class="form" action="{% url 'add_phone' %}" method="post">
        <div class="text-center"
             style="font-family: 'Montserrat', sans-serif; font-size: 14pt; font-weight: 500; margin-bottom: 10px;">
            Появились вопросы? Запишитесь на консультацию!
        </div>

        <div class="form-group d-flex justify-content-center" style="margin:0;">
            <input type="number" class="form-control " id="yak1" placeholder="Номер телефона" name="phoneNumber"
                   aria-describedby="CallHelp"
                   style="width: 25rem;">
        </div>
        <div class="form-group d-flex justify-content-center" style="margin:0; margin-top: 15px;">
            <input type="text" class="form-control " placeholder="ФИО" name="name" aria-describedby="CallHelp"
                   style="width: 25rem;">
        </div>
        <small id="emailHelp" class="form-text text-muted text-center">Мы никогда не будем делиться вашими
            данными.</small>
        <div class="col text-center" style="margin-top: 5px;">
            {% csrf_token %}
            <button type="submit" class="btn btn-dark" style="width: 20rem; margin-top: 2px;">Записаться</button>
        </div>
    </form>
</div>

<div class="container" style="height: 35px;"></div>

{% endblock content %}