{% extends 'HelpSystem/base.html' %}

{% block content %}

    <div class="wrapper">
        <div class="container" style="height: 80px;"></div>
        <div class="wrapper">

            <nav class="navbar navbar-light">
                <a class="navbar-brand" style="font-size: 20pt;">Статьи</a>
                <form action="{% url 'articles_list' %}" class="form-inline" method="get">
                    {% csrf_token %}
                    <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search"
                           name="search" {% if search_contain %} value="{{ search_contain }}" {% endif %}>
                    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Найти</button>
                </form>
            </nav>
            <div class="container" style="height: 20px;"></div>

            {% for article in articles_list %}
                <div class="card mb-3" style="max-width: 1300px; max-height: 500px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="/media/{{ article.image }}" class="card-img" alt="Упс, что-то пошло не так..."
                                 style="min-height: 18em;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <h4 class="card-title alert-link">{{ article.title }}</h4>
                                    </div>
                                    <div class="col">
                                        <p class="card-text text-muted" style="margin-top: 0.2em;">
                                            Автор: {{ article.author }}</p>
                                    </div>
                                </div>
                                <p class="card-text">{{ article.shortDescription }}
                                </p>
                                <hr style="border: none;  height: 1px; background-color: gray; width: 96%; margin-left: -0.2%;">

                                <div class="row">
                                    <div class="col">
                                        <p class="card-text"><i>Просмотров:</i> {{ article.viewsCount }}</p>
                                    </div>
                                    <div class="col">
                                        <p class="card-text">Оценок:<i style="color:red;">♥</i>{{ article.likesCount }}
                                        </p>
                                    </div>
                                    <div class="col">
                                        <a href="/{{ article.url }}">Читать далее...</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


        <div class="container" style="height: 60px;"></div>

    </div>

{% endblock content %}
