{% extends 'HelpSystem/base.html' %}
{% block content %}

    <div class="wrapper">
        <div class="container" style="height: 120px;"></div>


        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

            <h1 class="display-3" style="color: #ad7835; "><b>IRSIB</b></h1>

            <h3> Ваша финансовая безопасность </h3>
            <br>
            <div class="main-info">

                <p class="lead text-justify-center">Агентство «IRSIB» предлагает клиентам качественные услуги по
                    страхованию. Мы составим индивидуальный план покрытия рисков с учетом ваших потребностей. Наша
                    компания была основана в 2020 году с целью предоставлять доступные страховые услуги физическим и
                    юридическим лицам. Свяжитесь с нами и запишитесь на встречу с нашими экспертами.</p>
            </div>


        </div>

        <div class="fixed-bg"></div>

        <div class="container" style="height: 120px;"></div>


    </div>

    <div class="TripBg">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <div class="display-4" style="color: #ad7835; "><b> Программы </b></div>
            <br>
            <h4> Наши предложения </h4>
            <br>
        </div>

        <div class="page-content">
            <div class="card2">
                <div class="content">
                    <h2 class="title">Страхование для частных лиц</h2>
                    <p class="copy">Защита, которая нужна именно вам.</p>
                    <p class="copy2">Cегодня эта сфера страхования в Беларуси активно развивается. Среди наиболее
                        популярных видов страхования, которые выбирают белорусы – «IRSIB», страхование жизни и здоровья,
                        страхование при выезде за границу.</p>
                    <a class="btn" href="/programs/chastnym-licam" style="color: white;">Узнать подробнее</a>
                </div>
            </div>
            <div class="card2">
                <div class="content">
                    <h2 class="title">Страхование организациям</h2>
                    <p class="copy">Ваше благополучие прежде всего</p>
                    <p class="copy2">Страхование бизнеса в Беларуси – страхование
                        финансовых рисков. В настоящее время страховые компании предлагают большой выбор программ для
                        страхования подобных рисков. При этом нередко основная проблема — определить, что лучше
                        страховать.</p>
                    <a class="btn" href="/programs/organization" style="color: white;">Узнать подробнее</a>
                </div>
            </div>
            <div class="card2">
                <div class="content">
                    <h2 class="title">Страхование в РБ</h2>
                    <p class="copy">Готовы ко всему</p>
                    <p class="copy2"> Рынок страхования в Беларуси только начинает свое
                        становление. Несмотря на десятки страховых компаний и обилие страховых программ, объем
                        востребованных страховых услуг в Беларуси – один из самых низких в Европе.</p>
                    <a class="btn" href="/programs/strahovanija-v-rb" style="color: white;">Узнать подробнее</a>
                </div>
            </div>
        </div>
    </div>


    <div class="wrapper">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <div class="container" style="height: 120px;"></div>


            <div class="display-4" style="color: #ad7835; "><b>Подробнее о нашей деятельности</b></div>

            <br>
            <div class="main-info">

                <p class="lead text-justify-center">
                    Агентство «IRSIB» предлагает клиентам лучшие возможности страхования.
                    Мы стали одной из ведущих страховых компаний в г. Городея и накопили большую клиентскую базу
                    благодаря
                    клиентоориентированному сервису. Свяжитесь с нами, если вы хотите иметь дело с лучшим агентством,
                    которое
                    сделает все возможное, чтобы вы остались довольны. Наши специалисты помогут вам застраховать все,
                    что угодно, и с удовольствием проведут бесплатную оценку.</p>
            </div>
        </div>


        <div class="container" style="height: 120px;"></div>
        <div class="TripBg">
            <div class="row">
                <div class="col">
                    <div class="container" style="height: 4em;"></div>
                    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                        <div class="display-4" style="color: #ad7835; "><b> Свяжитесь с нами</b></div>
                    </div>
                    <p class="text-center" style="font-family: 'Montserrat', sans-serif;">Почта: roma1off1acc@gmail.com
                    </p>
                    <p class="text-center" style="font-family: 'Montserrat', sans-serif;">Тел: +375188805023</p>
                    <p class="text-center" style="font-family: 'Montserrat', sans-serif;">Факс: (047) 123-64-11.</p>
                </div>
                <div class="col-auto" style="height: 450px;">
                    <img src="../../static/images/main_5.jpg" height="450px">
                </div>
            </div>

            <div class="card card-cascade narrower">
                <div id="map-container-google-9" class="z-depth-1-half map-container-5" style="height: 29rem">
                    <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8019.078667503815!2d26.515502663631512!3d53.30589976262972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46d9223c480f68c1%3A0xff0f7ec5802a9033!2z0JPQvtGA0L7QtNC10LnRgdC60LjQuSDRgdCw0YXQsNGA0L3Ri9C5INC60L7QvNCx0LjQvdCw0YI!5e0!3m2!1sru!2sby!4v1584832743033!5m2!1sru!2sby"
                            width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>

        </div>
        <div class="container" style="height: 80px;"></div>


        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <div class="display-4" style="color: #ad7835; "><b>Новые статьи</b></div>
            <br>
        </div>

        <div class="container">
            <div class="row">

                {% for article in latest_articles_list %}

                    <div class="col order-1">
                        <div class="card bg-dark text-white">
                            <img class="card-img" alt="Изображение не доступно" style="height: 475px;">
                            <div class="card-img-overlay article"
                                 style="background:url(/media/{{ article.image }}); background-repeat: no-repeat; background-size:cover; padding: 0;">
                                <div class="container">
                                    <p class="card-text " style="font-size: 1.35rem;">Автор: ♛ {{ article.author }}</p>
                                    <div class="container" style="height: 300px;"></div>
                                    <h5 class="card-title"> {{ article.title }} </h5>
                                    <hr
                                            style="color: white; border: none;  height: 2px; background-color: white; width: 96%;">
                                    <div class="row">
                                        <div class="col">
                                            <p class="card-text"><i>Просмотров:</i> {{ article.viewsCount }}</p>
                                        </div>
                                        <div class="col">
                                            <p class="card-text"><i style="color:red;">♥</i>{{ article.likesCount }}</p>
                                        </div>
                                        <div class="col">
                                            <a class="btn" href="/{{ article.url }}"
                                               style="margin:-0.60em 0 0 0; color: white;">Читать</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>

        <div class="container" style="height: 70px;"></div>

    </div>

    <div class="container">
        <form class="form" action="{% url 'add_email' %}" method="post">
            <div class="text-center"
                 style="font-family: 'Montserrat', sans-serif; font-size: 14pt; font-weight: 500; margin-bottom: 10px;">
                Подписаться на
                рассылку новостей
            </div>
            <div class="form-group d-flex justify-content-center" style="margin:0;">
                <input type="email" placeholder="Email" class="form-control " name="email" aria-describedby="emailHelp"
                       style="width: 20rem;">
            </div>
            <div class="container" style="width: 21rem; margin-top: 2px;">
                <small id="emailHelp" class="form-text text-muted text-center">Мы никогда не будем делиться вашей
                    электронной почтой.</small>
            </div>


            <div class="col text-center" style="margin-top: 4px">
                {% csrf_token %}
                <button type="submit" class="btn btn-dark" style="width: 21rem; margin-top: 2px;">Подписаться</button>
            </div>
        </form>
    </div>

    <div class="container" style="height: 35px;"></div>

{% endblock content %}

